* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

* h1, h2, h3, h4, h5, h6, p {
    font-family: "Josefin Sans", sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
}

* body {
    background-color: #FFFFFF
}
.footer {
    background-color: #157F1F;
    padding: 1%;
    display: flex;
}
.logo_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
   width: 14%;
}
.title {
    margin-left: 2%;
}

.subtitle {
    margin-bottom: 2%;
    font-family: "Josefin Sans", sans-serif;
}

.paragraph {
    margin-left: 2%;
    font-family: "Josefin Sans", sans-serif; 
}

.default_div {
    margin: 2%;
    padding: 1%;
    margin-bottom: 3%;
}

.with_border_div {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1%;
    margin: 2%;
    margin-bottom: 3%;
}

.with_color_div {
    padding: 1%;
    background-color: #387F39;
    margin-bottom: 3%;
    margin: 2%;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 56.25%; /* Proporção de 16:9 (altere conforme necessário) */
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cube_div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    
}
.cube_data
{
    background-color: #DDF999;
    padding: 2%;
    align-self: center;
    text-align: center;
    margin: 1%;
}
@media only screen and (max-width: 600px) {
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
